video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-overlay-play-button,
video::-webkit-media-controls,
video::-webkit-media-controls-enclosure,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-play-button {
  display:none!important;
  -webkit-appearance:none;
  opacity:0!important;
  width:0!important;
  height:0!important;
}

video { appearance:none;-webkit-appearance:none; }
